<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ВЦ Белкоопсоюза">
    <meta name="description" content="Karcher-24 Беларусь">

    <title>Karcher-24 Беларусь</title>

    <!-- <link href="img/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="img/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="img/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="img/ico/favicon.png" rel="shortcut icon"> -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>

<body>

    <div class="nav">
        <div class="container">

            <div class="logo">
                <a href="#">Karcher-24</a>
            </div>
            
            <div class="nav-trigger">
                <a id="nav-trigger-btn" href="#"></a>
            </div>

            <div class="nav-wrapper">
                <ul class="nav-links">
                    <li class="nav-item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">О компании</a>
                    </li>
    
                    <li class="nav-item drop-down">
                        <a href="#">Ремонт</a>
    
                        <ul class="menu">
                            <li class="item">
                                <a href="#">Пылесосы</a>
                            </li>
                            <li class="item">
                                <a href="#">Поломоечные машины</a>
                            </li>
                            <li class="item">
                                <a href="#">Парогенераторы</a>
                            </li>
                            <li class="item">
                                <a href="#">Автомойки</a>
                            </li>
                            <li class="item">
                                <a href="#">Подметальные машины</a>
                            </li>
                        </ul>
                    </li>
    
                    <li class="nav-item">
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <header class="header">
        <div class="container">
            <div class="info" data-aos="fade-right">
                <h1>Ремонт техники <span>Karcher</span></h1>
                <p>Ремонт всей линейки Karcher: автомоек, парогенераторов, пылесосов, поломоечных машин. Оставьте заявку на сайте, и мы свяжемся с вами в течение 5 минут.</p>
    
                <a href="#" class="primary-button">Оставить заявку</a>
            </div>
    
            <div class="slider">
                <div class="slider-item active">
                    <img src="img/slide-1.jpg">
                </div>
                <div class="slider-item ">
                    <img src="img/slide-2.jpg">
                </div>
                <div class="slider-item ">
                    <img src="img/slide-3.jpg">
                </div>
                <div class="slider-item ">
                    <img src="img/slide-4.jpg">
                </div>
                <div class="slider-item">
                    <img src="img/slide-5.jpg">
                </div>
                <div class="slider-item">
                    <img src="img/slide-6.jpg">
                </div>
            </div>
        </div>
        
    </header>

    <section class="repair">
        <h1 data-aos="fade-right">Ремонт всей линейки техники <span>Karcher</span></h1>

        <div class="content">
            <div class="single-block" data-aos="zoom-in">
                <div class="image">
                    <img src="img/podmetalnie_mashini.png">
                </div>
                <p>Подметальные машины</p>
            </div>
            <div class="single-block" data-aos="zoom-in">
                <div class="image">
                    <img src="img/moiki_visokogo_davleniya.png">
                </div>
                <p>Мойки высокого давления</p>
            </div>
            <div class="single-block" data-aos="zoom-in">
                <div class="image">
                    <img src="img/professionalnie_avtomoiki.png">
                </div>
                <p>Профессиональные автомойки</p>
            </div>
            <div class="single-block" data-aos="zoom-in">
                <div class="image">
                    <img src="img/parogeneratori.png">
                </div>
                <p>Парогенераторы</p>
            </div>
            <div class="single-block" data-aos="zoom-in">
                <div class="image">
                    <img src="img/pilesosi.png">
                </div>
                <p>Пылесосы</p>
            </div>
            <div class="single-block" data-aos="zoom-in">
                <div class="image">
                    <img src="img/polomoichnie_mashini.png">
                </div>
                <p>Поломоечные машины</p>
            </div>
        </div>
    </section>

    <section class="about" data-aos="zoom-in-up">
        <h1>Почему выбирают нас?</h1>

        <div class="content">
            <div class="single-block" data-aos="fade-down-right">
                <div class="icon">
                    <img src="img/zoom.svg">
                </div>
                <p>Бесплатная диагностика</p>
            </div>
            <div class="single-block" data-aos="fade-up">
                <div class="icon">
                    <img src="img/shield.svg">
                </div>
                <p>Гарантия от 6 месяцев</p>
            </div>
            <div class="single-block" data-aos="fade-down-left">
                <div class="icon">
                    <img src="img/time_big.svg">
                </div>
                <p>Выезд к заказчику в день обращения</p>
            </div>
        </div>
    </section>

    <section class="contact_us">
        <div class="container">
            <h1 data-aos="flip-left">Оформление заявки</h1>

            <form method="POST">
                <div class="form-group" data-aos="zoom-in">
                    <label for="name">Имя</label>
                    <input type="text" name="name" id="name" placeholder="Введите ваше имя">
                </div>
                <div class="form-group" data-aos="zoom-in">
                    <label for="tel">Номер телефона</label>
                    <input type="tel" name="tel" id="tel">
                </div>

                <button type="submit" class="primary-button" data-aos="zoom-in">Отправить</button>

                <label class="form-group checkbox" data-aos="zoom-in">Заполняя форму, <a id="modal-open-btn" modal-id="policy" href="#">соглашаюсь</a> на обработку персональных данных
                    <input type="checkbox" name="accept">
                    <span class="checkmark"></span>
                </label>
            </form>
        </div>
    </section>

    <div class="modal" id="policy">
        <div class="modal-container">
            <div class="modal-header">
                <a id="modal-close-btn" modal-id="policy" href="#"></a>
            </div>
<div class="modal-body">
<h1>Политика в отношении обработки персональных данных</h1>
<p>1. Общие положения

Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Михайловым Иваном Сергеевичем (далее – Оператор).
1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта httpsː//thismywebsite·com.</p>
</div>
            <div class="modal-footer">
                <label class="form-group checkbox">Принимаю соглашение на обработку персональных данных.
                    <input type="checkbox" name="accept">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <section class="contacts">
        <h1 data-aos="fade-up-right">Контакты сервисного центра <span>Karcher</span></h1>

        <div class="content">
            <ul class="info">
                <li class="single-contact" data-aos="zoom-in-right">
                    <div class="contact-icon phone"></div>
                    <a href="tel:+375447883083">+375 (44) 788-30-83</a>
                </li>
                <li class="single-contact" data-aos="zoom-in-right">
                    <div class="contact-icon email"></div>
                    <a href="mailto:remkomplektpro@gmail.com" class="email">remkomplektpro@gmail.com</a>
                </li>
                <li class="single-contact" data-aos="zoom-in-right">
                    <div class="contact-icon time"></div>
                    <p>Ежедневно 24/7</p>
                </li>
                <li class="single-contact" data-aos="zoom-in-right">
                    <div class="contact-icon placemark"></div>
                    <p>Беларусь, Минск, улица Тимирязева 46/10</p>
                </li>
            </ul>
            <div class="map" data-aos="zoom-in">
                <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1_fUgvCaSwToorbpCNhli7e5ybFZXO3SK"></iframe>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content">

            <div class="footer-main">
                <div class="logo">
                    <a href="#">Karcher-24</a>
                </div>

                <div class="content">
                    Частное торговое унитарное предприятие «Ремкомплект ПРО»<br/>
                    р/с BY90OLMP30120005892520000933<br/>
                    в ОАО «Белгазпромбанк», Г. Минск, ул.<br/>
                    М. Богдановича, 116<br/>
                    УНП 193165919<br/>
                    БИК OLMPBY2X
                </div>
            </div>

            <div class="footer-blocks">
                <div class="single-block">
                    <div class="block-header">Телефон</div>
                    <div class="block-content">
                        <a href="tel:+375447883083" class="pb-1">+375 (44) 788-30-83</a>
                        <a href="tg:+375447883083" class="contact-with-icon"><img src="img/telegram.svg"> Связь с нами в Telegram</a>
                        <a href="viber://chat?number=375447883083" class="contact-with-icon"><img src="img/viber.svg"> Связь с нами в Viber</a>
                    </div>
                </div>
                <div class="single-block">
                    <div class="block-header">Адрес</div>
                    <div class="block-content">
                        Беларусь, Минск, улица Тимирязева 46/10<br/><br/>
                        Ежедневно 24/7
                    </div>
                </div>
                <div class="single-block">
                    <div class="block-header">Почта</div>
                    <div class="block-content">
                        <a href="mailto:remkomplektpro@gmail.com" class="email">remkomplektpro@gmail.com</a>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="copy">
            <div class="copy-main">
                &copy; <script type="text/javascript">document.write(new Date().getFullYear())</script> Karcher-24 Ремонт Керхер. Сервисный центр 
            </div>
            <div class="copy-additional">
                <a href="https://www.behance.net/polinashimano" target="_blank">Design with <span>❤</span> by Polina Shimanovich</a>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
</body>

</html>