@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  font-size: 62.5%;
  font: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
}

body.modal-opened {
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

.primary-button {
  display: block;
  background-color: #FFEE00;
  border-radius: 35px;
  padding: 1.438rem 3.5rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-decoration: none;
  font-size: 1.375rem;
  color: inherit;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.primary-button:hover {
  background-color: #fff133;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

.form-group > label {
  margin-bottom: 0.375rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.form-group > input[type="text"], .form-group > input[type="password"], .form-group > input[type="tel"], .form-group > textarea {
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 27.5rem;
  padding: 1.563rem 1rem;
}

.form-group > input[type="text"]::-webkit-input-placeholder, .form-group > input[type="password"]::-webkit-input-placeholder, .form-group > input[type="tel"]::-webkit-input-placeholder, .form-group > textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #8A8A8A;
  font-weight: 300;
}

.form-group > input[type="text"]:-ms-input-placeholder, .form-group > input[type="password"]:-ms-input-placeholder, .form-group > input[type="tel"]:-ms-input-placeholder, .form-group > textarea:-ms-input-placeholder {
  font-size: 1.5rem;
  color: #8A8A8A;
  font-weight: 300;
}

.form-group > input[type="text"]::-ms-input-placeholder, .form-group > input[type="password"]::-ms-input-placeholder, .form-group > input[type="tel"]::-ms-input-placeholder, .form-group > textarea::-ms-input-placeholder {
  font-size: 1.5rem;
  color: #8A8A8A;
  font-weight: 300;
}

.form-group > input[type="text"]::placeholder, .form-group > input[type="password"]::placeholder, .form-group > input[type="tel"]::placeholder, .form-group > textarea::placeholder {
  font-size: 1.5rem;
  color: #8A8A8A;
  font-weight: 300;
}

.form-group.checkbox {
  position: relative;
  cursor: pointer;
  font-size: 1.125rem;
  color: #000;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.form-group.checkbox > a {
  display: contents;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #FFEE00;
}

.form-group.checkbox > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-group.checkbox > input[type="checkbox"]:checked ~ .checkmark {
  background-color: #fff;
}

.form-group.checkbox > input[type="checkbox"]:checked ~ .checkmark:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  visibility: visible;
  opacity: 1;
}

.form-group.checkbox > .checkmark {
  top: 0.5rem;
  left: 0.5rem;
  height: 1.875rem;
  min-width: 1.875rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #000;
}

.form-group.checkbox > .checkmark:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1rem;
  width: .6rem;
  margin-left: 0.42rem;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  display: none;
}

.modal > .modal-container {
  margin: 5rem 0;
  background-color: #fff;
  width: 48rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}

.modal > .modal-container > .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2.5rem 2.5rem 0 0;
}

.modal > .modal-container > .modal-header > .modal-close-btn {
  content: url("../img/cross.svg");
  width: 2rem;
  height: 2.75rem;
  color: #000;
}

.modal > .modal-container > .modal-body {
  padding: 2.5rem 4.25rem;
  height: 100%;
  overflow: auto;
}

.modal > .modal-container > .modal-body > h1 {
  font-size: 1.75rem;
  line-height: 2.118rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.modal > .modal-container > .modal-body > p {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.664rem;
  white-space: pre-wrap;
}

.modal > .modal-container > .modal-footer {
  padding: 0 4.25rem 6.25rem 4.25rem;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  body {
    font-size: 1.125rem;
    line-height: 1.361rem;
  }
  h1 {
    font-size: 2.25rem;
    line-height: 2.723rem;
  }
  .primary-button {
    font-size: 1.375rem;
  }
  .modal > .modal-container > .modal-header {
    padding: 1.5rem 1.5rem 0 0;
  }
  .modal > .modal-container > .modal-body {
    padding: 2.5rem 2rem;
  }
  .modal > .modal-container > .modal-body > h1 {
    font-size: 1.375rem;
  }
  .modal > .modal-container > .modal-body > p {
    font-size: 1rem;
  }
  .modal > .modal-container > .modal-footer {
    padding: 0 2rem 4.25rem 2rem;
  }
}

.nav {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 5;
}

.nav > .container {
  padding: 5rem 7.5rem 1.5rem 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav > .container > .logo > a {
  font-size: 2.25rem;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: inherit;
}

.nav > .container > .logo > a:after {
  content: "";
  display: block;
  height: 0.688rem;
  width: 100%;
  margin-top: 0.2rem;
  background-color: #FFEE00;
}

.nav > .container > .nav-trigger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav > .container > .nav-trigger > a#nav-trigger-btn {
  content: url("../img/bars.svg");
  width: 2rem;
  height: 2.75rem;
  color: #000;
}

.nav > .container > .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav > .container > .nav-wrapper > .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.5rem;
  height: 100%;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item:last-child {
  margin-right: 0;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item > a {
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down > a:after {
  content: url("../img/arrow_down.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.25rem;
  height: 0.75rem;
  margin-left: 0.563rem;
  color: #000;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down {
  position: relative;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down .menu {
  top: 2.5rem;
  position: absolute;
  display: block;
  padding: 2.5rem 2.125rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  -webkit-transition: opacity .2s linear, -webkit-transform .2s linear;
  transition: opacity .2s linear, -webkit-transform .2s linear;
  transition: transform .2s linear, opacity .2s linear;
  transition: transform .2s linear, opacity .2s linear, -webkit-transform .2s linear;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  z-index: 9;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down .menu > .item {
  margin-bottom: 1.25rem;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down .menu > .item:last-child {
  margin-bottom: 0;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down .menu > .item > a {
  font-size: 1.25rem;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down:hover > .menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.nav > .container > .nav-wrapper > .nav-links > .nav-item.drop-down:hover > a:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1200px) {
  .nav > .container {
    padding: 5rem 6.25rem 1.5rem 6.25rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav > .container > .nav-trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav > .container .nav-wrapper {
    display: none;
    width: 100%;
  }
  .nav > .container .nav-wrapper > .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    margin: 3rem 0;
  }
  .nav > .container .nav-wrapper > .nav-links > .nav-item {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.875rem;
  }
  .nav > .container .nav-wrapper > .nav-links > .nav-item:last-child {
    margin-bottom: 0;
  }
  .nav > .container .nav-wrapper > .nav-links > .nav-item > a {
    font-size: 2rem;
  }
  .nav > .container .nav-wrapper > .nav-links > .nav-item.drop-down > a:after {
    display: none;
  }
  .nav > .container .nav-wrapper > .nav-links > .nav-item.drop-down:hover > .menu {
    visibility: hidden;
    opacity: 0;
  }
  .nav > .container.opened {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .nav > .container.opened > .nav-trigger > a#nav-trigger-btn {
    content: url("../img/cross.svg");
  }
  .nav > .container.opened .nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 992px) {
  .nav > .container {
    padding: 1.875rem 1.125rem 1.125rem 1.125rem;
  }
  .nav > .container .nav-wrapper > .nav-links > .nav-item > a {
    font-size: 1.5rem;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header {
  padding: 17.438rem 7.5rem 6rem 7.5rem;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header > .container > .info, .header > .container > .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.header > .container > .info {
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header > .container > .info > .header-contacts {
  color: #000;
  font-size: 1.65rem;
  line-height: 1.513rem;
  font-weight: 300;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 5rem;
}

.header > .container > .info > .header-contacts > a {
  color: inherit;
  text-decoration: none;
  padding: 0.8rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header > .container > .info > .header-contacts > a.email {
  line-height: 1.5rem;
  text-decoration: underline;
}

.header > .container > .info > .header-contacts > a.contact-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
}

.header > .container > .info > .header-contacts > a.contact-with-icon > img {
  margin-right: 0.5rem;
  width: 1.25rem;
}

.header > .container > .info > .header-title > h1 {
  line-height: 4.841rem;
}

.header > .container > .info > .header-title > h1 > span {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header > .container > .info > .header-title > h1 > span:after {
  content: "";
  display: block;
  height: 0.938rem;
  width: 100%;
  background-color: #FFEE00;
}

.header > .container > .info > .header-title > p {
  font-size: 1.375rem;
  line-height: 1.664rem;
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}

.header > .container > .slider {
  z-index: 1;
  height: 38.375rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > .container > .slider > .slider-item {
  display: none;
  height: 100%;
}

.header > .container > .slider > .slider-item.active {
  display: block;
  -webkit-animation: .5s linear fadeInRight;
          animation: .5s linear fadeInRight;
}

.header > .container > .slider > .slider-item > img {
  height: 100%;
}

@media (max-width: 1290px) {
  .header > .container > .info {
    width: 60%;
  }
  .header > .container > .slider {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 17.438rem 6.25rem 6rem 6.25rem;
  }
  .header > .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .header > .container > .info {
    padding-top: 3rem;
    width: 100%;
  }
  .header > .container > .info > .header-title > h1 {
    line-height: 2.723rem;
  }
  .header > .container > .info > .header-title > p {
    margin: 6.25rem 0;
  }
  .header > .container > .info > .header-title > .primary-button {
    margin: 0 auto;
  }
  .header > .container > .slider {
    display: none;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 10rem 1.125rem 6rem 1.125rem;
  }
  .header > .container > .info > .header-title > h1 {
    line-height: 2.723rem;
  }
  .header > .container > .info > .header-title > p {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
}

.advantage {
  padding: 10rem 0 15rem 0;
}

.advantage > h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6.75rem 8rem;
}

.advantage > .content > .single-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.3%;
          flex: 1 0 33.3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage > .content > .single-block > .icon {
  display: block;
  width: 9.75rem;
  height: 9.75rem;
  background-color: #FFEE00;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage > .content > .single-block > p {
  text-align: center;
  padding: 1.563rem 3rem;
  line-height: 2.269rem;
}

@media (max-width: 1200px) {
  .advantage {
    padding: 4rem 0 8rem 0;
  }
  .advantage > .content {
    margin: 6.75rem 0;
  }
}

@media (max-width: 992px) {
  .advantage {
    padding: 2rem 1.125rem;
  }
  .advantage > h1 {
    text-align: center;
  }
  .advantage > .content > .single-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin-bottom: 3rem;
  }
  .advantage > .content > .single-block:last-child {
    margin-bottom: 0;
  }
}

.repair {
  padding: 5rem 7.5rem;
}

.repair.repair-page {
  padding: 15rem 7.5rem 0rem 7.5rem;
}

.repair > h1 {
  max-width: 60rem;
  line-height: 4.236rem;
}

.repair > h1 > span {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.repair > h1 > span:after {
  content: "";
  display: block;
  height: 0.938rem;
  width: 100%;
  background-color: #FFEE00;
}

.repair > .content {
  margin-top: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repair > .content > a {
  text-decoration: none;
  color: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.3%;
          flex: 1 0 33.3%;
}

.repair > .content > a .single-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
  width: 100%;
}

.repair > .content > a .single-block > .image {
  max-width: 21.75rem;
  max-height: 21.75rem;
}

.repair > .content > a .single-block > .image > img {
  width: 100%;
}

.repair > .content > a .single-block > p {
  line-height: 2.269rem;
  text-align: center;
  width: 18.75rem;
  word-break: normal;
}

.repair > .content > a .single-block > span {
  font-size: 1.2rem;
  color: #8A8A8A;
  font-weight: 300;
  padding-top: 1rem;
  text-transform: uppercase;
}

.repair > .content > a.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repair > .content > a.admin > .single-block > .image {
  width: 5rem;
  height: 5rem;
  padding: 3rem;
}

@media (max-width: 1200px) {
  .repair {
    padding: 5rem 6.25rem;
  }
  .repair.repair-page {
    padding: 15rem 6.25rem 0 6.25rem;
  }
}

@media (max-width: 992px) {
  .repair {
    padding: 5rem 1.125rem;
  }
  .repair.repair-page {
    padding: 10rem 1.125rem 0 1.125rem;
  }
  .repair > h1 {
    line-height: 2.723rem;
    word-break: break-all;
    word-wrap: break-word;
  }
  .repair > .content {
    margin-top: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .repair > .content > a > .single-block {
    margin-bottom: 4rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .repair > .content > a > .single-block > span {
    font-size: 0.8rem;
  }
}

.contact_us {
  height: 100%;
  width: 100%;
  background-image: url("../img/contact_us.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contact_us.login {
  height: 100vh;
  background-image: url("../img/login.jpg");
}

.contact_us.login > .container {
  padding: 0 0;
  height: 100vh !important;
}

.contact_us.login > .container > form > a {
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
}

.contact_us > .container {
  padding: 10rem 0;
  background-color: rgba(34, 34, 34, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_us > .container > h1 {
  text-align: center;
  color: #fff;
}

.contact_us > .container > form {
  padding-top: 1.438rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_us > .container > form > .primary-button {
  margin: 2.5rem 0;
}

.contact_us > .container > form .form-group.checkbox {
  color: #fff;
}

@media (max-width: 992px) {
  .contact_us > .container {
    padding: 4rem 0;
  }
  .contact_us > .container > form {
    width: calc(100% - 2.250rem);
    padding: 1rem 1.125rem;
    margin: 0;
  }
  .contact_us > .container > form > .form-group {
    width: 100%;
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_us > .container > form > .form-group > input[type="text"], .contact_us > .container > form > .form-group > input[type="password"], .contact_us > .container > form > .form-group > input[type="tel"] {
    width: calc(100% - 2rem);
  }
  .contact_us > .container > form > .form-group > input[type="text"]::-webkit-input-placeholder, .contact_us > .container > form > .form-group > input[type="password"]::-webkit-input-placeholder, .contact_us > .container > form > .form-group > input[type="tel"]::-webkit-input-placeholder {
    font-size: 1.3rem;
  }
  .contact_us > .container > form > .form-group > input[type="text"]:-ms-input-placeholder, .contact_us > .container > form > .form-group > input[type="password"]:-ms-input-placeholder, .contact_us > .container > form > .form-group > input[type="tel"]:-ms-input-placeholder {
    font-size: 1.3rem;
  }
  .contact_us > .container > form > .form-group > input[type="text"]::-ms-input-placeholder, .contact_us > .container > form > .form-group > input[type="password"]::-ms-input-placeholder, .contact_us > .container > form > .form-group > input[type="tel"]::-ms-input-placeholder {
    font-size: 1.3rem;
  }
  .contact_us > .container > form > .form-group > input[type="text"]::placeholder, .contact_us > .container > form > .form-group > input[type="password"]::placeholder, .contact_us > .container > form > .form-group > input[type="tel"]::placeholder {
    font-size: 1.3rem;
  }
  .contact_us > .container > form > .form-group.checkbox {
    width: 100%;
  }
}

.contacts {
  min-height: 70vh;
  padding: 8.75rem 7.5rem;
}

.contacts > h1 {
  max-width: 46rem;
  line-height: 4.236rem;
}

.contacts > h1 > span {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contacts > h1 > span:after {
  content: "";
  display: block;
  height: 0.938rem;
  width: 100%;
  background-color: #FFEE00;
}

.contacts > .content {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts > .content > .info {
  width: 45%;
  margin: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts > .content > .info > .single-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.contacts > .content > .info > .single-contact:last-child {
  margin-bottom: 0;
}

.contacts > .content > .info > .single-contact > .contact-icon {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  color: #000;
  margin-right: 2.125rem;
}

.contacts > .content > .info > .single-contact > .contact-icon.phone {
  content: url("../img/phone.svg");
}

.contacts > .content > .info > .single-contact > .contact-icon.email {
  content: url("../img/email.svg");
}

.contacts > .content > .info > .single-contact > .contact-icon.time {
  content: url("../img/time_small.svg");
}

.contacts > .content > .info > .single-contact > .contact-icon.placemark {
  content: url("../img/placemark.svg");
}

.contacts > .content > .info > .single-contact > p {
  font-size: 1.5rem;
  word-break: normal;
}

.contacts > .content > .info > .single-contact > a {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}

.contacts > .content > .map {
  width: 55%;
}

.contacts > .content > .map > iframe {
  width: 100%;
  height: 31rem;
}

@media (max-width: 1200px) {
  .contacts {
    padding: 8.75rem 6.25rem;
  }
  .contacts > .content > .info {
    width: 100%;
  }
  .contacts > .content > .map {
    margin: 2.5rem 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .contacts {
    padding: 5rem 1.125rem;
  }
  .contacts > h1 {
    line-height: 2.723rem;
  }
  .contacts > .content {
    margin-top: 2rem;
  }
  .contacts > .content > .info {
    width: 100%;
  }
  .contacts > .content > .info > .single-contact {
    margin-bottom: 2rem;
  }
  .contacts > .content > .info > .single-contact > .contact-icon {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1.5rem;
  }
  .contacts > .content > .info > .single-contact > p, .contacts > .content > .info > .single-contact > a {
    font-size: 1.3rem;
  }
  .contacts > .content > .map {
    margin: 2.5rem 0;
    width: 100%;
  }
}

@-webkit-keyframes Pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(130%);
            transform: scale(130%);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(130%);
            transform: scale(130%);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes Pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(130%);
            transform: scale(130%);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(130%);
            transform: scale(130%);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.footer {
  padding: 7.7rem 7.5rem 0 7.5rem;
  background-color: #222222;
}

.footer > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer > .content > .footer-main {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer > .content > .footer-main > .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 1.75rem;
}

.footer > .content > .footer-main > .logo > a {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.footer > .content > .footer-main > .logo > a:after {
  content: "";
  display: block;
  height: 0.688rem;
  width: 100%;
  margin-top: 0.2rem;
  background-color: #FFEE00;
}

.footer > .content > .footer-main > .content {
  color: #454545;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.21rem;
}

.footer > .content > .footer-blocks {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer > .content > .footer-blocks > .single-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.125rem;
  width: 50%;
}

.footer > .content > .footer-blocks > .single-block:last-child {
  margin-bottom: 0;
}

.footer > .content > .footer-blocks > .single-block > .block-header {
  color: #fff;
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.footer > .content > .footer-blocks > .single-block > .block-content {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.513rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer > .content > .footer-blocks > .single-block > .block-content > a {
  color: inherit;
  text-decoration: none;
  padding: 0.1rem 0;
}

.footer > .content > .footer-blocks > .single-block > .block-content > a.email {
  line-height: 1.5rem;
  text-decoration: underline;
}

.footer > .content > .footer-blocks > .single-block > .block-content > a.pb-1 {
  padding-bottom: 1rem;
}

.footer > .content > .footer-blocks > .single-block > .block-content > a.contact-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer > .content > .footer-blocks > .single-block > .block-content > a.contact-with-icon > img {
  margin-right: 0.5rem;
  width: 1.25rem;
}

.footer > .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0 2.125rem 0;
}

.footer > .copy > .copy-main, .footer > .copy > .copy-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer > .copy > .copy-main, .footer > .copy > .copy-additional > a {
  color: #454545;
  font-size: 1rem;
  font-weight: 500;
}

.footer > .copy > .copy-additional > a {
  text-decoration: none;
}

.footer > .copy > .copy-additional > a > span {
  display: inline-block;
  color: red;
  -webkit-animation: infinite 2.5s Pulse;
          animation: infinite 2.5s Pulse;
}

@media (max-width: 1200px) {
  .footer {
    padding: 7.7rem 6.25rem 0 6.25rem;
  }
  .footer > .content > .footer-main {
    width: 100%;
  }
  .footer > .content > .footer-blocks {
    margin-top: 5rem;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 7.7rem 1.125rem 0 1.125rem;
  }
  .footer > .content > .footer-blocks > .single-block {
    width: 100%;
  }
}

.about {
  padding: 15rem 0 6rem 0;
}

.about > h1 {
  line-height: 4.841rem;
  padding: 0 7.5rem;
}

.about > h1 > span {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.about > h1 > span:after {
  content: "";
  display: block;
  height: 0.938rem;
  width: 100%;
  background-color: #FFEE00;
}

.about > .content {
  margin-top: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about > .content > .single-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 29rem;
  margin-bottom: 10rem;
}

.about > .content > .single-block:last-child {
  margin-bottom: 0;
}

.about > .content > .single-block.align-left {
  padding-left: 7.5rem;
}

.about > .content > .single-block.align-left > p {
  padding-right: 3rem;
}

.about > .content > .single-block.align-right {
  padding-right: 7.5rem;
}

.about > .content > .single-block.align-right > p {
  padding-left: 3rem;
}

.about > .content > .single-block > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.about > .content > .single-block > .image {
  width: 55%;
  overflow: hidden;
}

.about > .content > .single-block > .image > img {
  height: 100%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.about > .content > .single-block > .image > img:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

@media (max-width: 1200px) {
  .about {
    padding: 15rem 0 11rem 0;
  }
  .about > h1 {
    padding: 0 6.25rem;
  }
  .about > .content {
    margin-top: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about > .content > .single-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .about > .content > .single-block.align-left {
    padding-left: 0rem;
  }
  .about > .content > .single-block.align-left > p {
    padding: 0;
    padding-top: 10rem;
  }
  .about > .content > .single-block.align-right {
    padding-right: 0;
  }
  .about > .content > .single-block.align-right > p {
    padding: 0;
    padding-top: 10rem;
  }
  .about > .content > .single-block > p {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  .about > .content > .single-block > .image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    height: 25rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about > .content > .single-block > .image > img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 10rem 0 6rem 0;
  }
  .about > h1 {
    line-height: 2.723rem;
    padding: 0 1.125rem;
  }
  .about > .content {
    margin-top: 4rem;
  }
  .about > .content > .single-block {
    margin-bottom: 3rem;
  }
  .about > .content > .single-block:last-child {
    margin-bottom: 0;
  }
  .about > .content > .single-block.align-left > p {
    padding-top: 4rem;
  }
  .about > .content > .single-block.align-right > p {
    padding-top: 4rem;
  }
}

.technique {
  padding: 15rem 7.5rem 6rem 7.5rem;
}

.technique .admin-controls {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.technique .admin-controls .admin-control {
  text-decoration: none;
  text-transform: uppercase;
  color: #8A8A8A;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0;
  padding-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.technique .admin-controls .admin-control:hover {
  color: #000;
}

.technique > h1 {
  max-width: 60rem;
  line-height: 4.236rem;
}

.technique > h1 > span {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.technique > h1 > span:after {
  content: "";
  display: block;
  height: 0.938rem;
  width: 100%;
  background-color: #FFEE00;
}

.technique > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technique > .content > form, .technique > .content > .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.technique > .content > form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.technique > .content > form > p {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.technique > .content > form > .form-margin-top {
  margin-top: 2rem;
}

.technique > .content > form > .checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0 3rem 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.technique > .content > form > .checkbox-group > .form-group.checkbox {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 1rem 0 0;
  margin: 0;
}

.technique > .content > form > .form-group > label {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.technique > .content > form > .form-group > input[type="text"], .technique > .content > form > .form-group > input[type="tel"] {
  border-radius: 10px;
  border: 2px solid #000;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
}

.technique > .content > form > .form-group > input[type="text"] ~ label, .technique > .content > form > .form-group > input[type="tel"] ~ label {
  color: #000;
}

.technique > .content > form > .form-group.text-area > label {
  font-size: 1.8rem;
}

.technique > .content > form > .form-group.text-area > textarea {
  background: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #000;
  outline: none;
  padding: 1.563rem 1rem;
  font-size: 1.5rem;
  max-width: calc(100% - 2rem - 2px);
  min-width: 10rem;
  min-height: 6rem;
  width: 80%;
}

.technique > .content > form > .form-group.text-area > textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #000;
  font-weight: 400;
}

.technique > .content > form > .form-group.text-area > textarea:-ms-input-placeholder {
  font-size: 1.5rem;
  color: #000;
  font-weight: 400;
}

.technique > .content > form > .form-group.text-area > textarea::-ms-input-placeholder {
  font-size: 1.5rem;
  color: #000;
  font-weight: 400;
}

.technique > .content > form > .form-group.text-area > textarea::placeholder {
  font-size: 1.5rem;
  color: #000;
  font-weight: 400;
}

.technique > .content > form > .primary-button {
  margin-top: 2rem;
}

.technique > .content > .image {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technique > .content > .image > img {
  width: 100%;
}

.technique > .content#technique-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.technique > .content#technique-edit > form {
  width: 100%;
}

.technique > .content#technique-edit > form > .problems-group {
  margin-top: 1rem;
}

.technique > .content#technique-edit > form > .problems-group > .problem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40rem;
}

.technique > .content#technique-edit > form > .problems-group > .problem > input[type="text"] {
  outline: none;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  margin: 1rem 0;
  margin-right: 1rem;
}

.technique > .content#technique-edit > form > .problems-group > .problem > input[type="text"]::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #8A8A8A;
  font-weight: 300;
}

.technique > .content#technique-edit > form > .problems-group > .problem > input[type="text"]:-ms-input-placeholder {
  font-size: 1.5rem;
  color: #8A8A8A;
  font-weight: 300;
}

.technique > .content#technique-edit > form > .problems-group > .problem > input[type="text"]::-ms-input-placeholder {
  font-size: 1.5rem;
  color: #8A8A8A;
  font-weight: 300;
}

.technique > .content#technique-edit > form > .problems-group > .problem > input[type="text"]::placeholder {
  font-size: 1.5rem;
  color: #8A8A8A;
  font-weight: 300;
}

.technique > .content#technique-edit > form > .problems-group > .problem > .problem-delete-btn {
  width: 1.3rem;
  height: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technique > .content#technique-edit > form > .problems-group > .problem > .problem-delete-btn > img {
  width: 100%;
}

.technique > .content#technique-edit > form > .problem-add-input {
  text-decoration: none;
  text-transform: uppercase;
  color: #8A8A8A;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem 0 2rem 0;
}

.technique > .content#technique-edit > form > .problem-add-input:hover {
  color: #000;
}

.technique > .content#technique-edit > form > .primary-button {
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .technique {
    padding: 15rem 6.25rem 6rem 6.25rem;
  }
  .technique > .content > form, .technique > .content > .image {
    width: 100%;
  }
  .technique > .content > form > .form-group > input[type="text"], .technique > .content > form > .form-group > input[type="tel"], .technique > .content > form > .form-group.text-area > textarea {
    width: calc(100% - 2rem - 2px);
  }
  .technique > .content > .image {
    height: 30rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .technique > .content > .image > img {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 992px) {
  .technique {
    padding: 10rem 1.125rem 2rem 1.125rem;
  }
  .technique > h1 {
    line-height: 2.723rem;
  }
  .technique > .content > .image {
    height: 20rem;
  }
}
/*# sourceMappingURL=main.css.map */