.about {
    padding: 15rem 0 6rem 0;

    & > h1 {
        line-height: 4.841rem;
        padding: 0 7.5rem;

        & > span {
            display: inline-block;
            width: max-content;

            &:after {
                content: "";
                display: block;
                height: 0.938rem;
                width: 100%;
                background-color: $primary-color;
            }
        }
    }

    & > .content {
        margin-top: 9rem;
        display: flex;
        flex-direction: column;

        & > .single-block {
            display: flex;
            flex-direction: row;
            height: 29rem;
            margin-bottom: 10rem;

            &:last-child {
                margin-bottom: 0;
            }

            &.align-left {
                padding-left: 7.5rem;

                & > p {
                    padding-right: 3rem;
                }
            }

            &.align-right {
                padding-right: 7.5rem;

                & > p {
                    padding-left: 3rem;
                }
            }

            & > p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45%;
            }

            & > .image {
                width: 55%;
                overflow: hidden;

                & > img {
                    height: 100%;
                    transition: transform .25s ease-in-out;

                    &:hover {
                        transform: scale(110%);
                    }
                }
            }

        }
    }
}


@media (max-width: 1200px) {
    .about {
        padding: 15rem 0 11rem 0;

        & > h1 {
            padding: 0 6.25rem;
        }

        & > .content {
            margin-top: 9rem;
            display: flex;
            flex-direction: column;
    
            & > .single-block {
                flex-direction: column;
                height: max-content;
                width: 100%;
    
                &.align-left {
                    padding-left: 0rem;
    
                    & > p {
                        padding: 0;
                        padding-top: 10rem;
                    }
                }

                &.align-right {
                    padding-right: 0;
    
                    & > p {
                        padding: 0;
                        padding-top: 10rem;
                    }
                }

                & > p {
                    margin: 0 auto;
                    width: 70%;
                    text-align: center;
                }
    
                & > .image {
                    order: -1;
                    width: 100%;
                    height: 25rem;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & > img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .about {
        padding: 10rem 0 6rem 0;

        & > h1 {
            line-height: 2.723rem;
            padding: 0 1.125rem;
        }

        & > .content {
            margin-top: 4rem;

            & > .single-block {
                margin-bottom: 3rem;

                &:last-child {
                    margin-bottom: 0;
                }

                &.align-left > p {
                    padding-top: 4rem;
                }

                &.align-right > p {
                    padding-top: 4rem;
                }

                
            }
        }
    }
}