.contact_us {
    height: 100%;
    width: 100%;
    background-image: url('../img/contact_us.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &.login {
        height: 100vh;
        background-image: url('../img/login.jpg');

        & > .container {
            padding: 0 0;
            height: 100vh !important;
            
            & > form > a {
                font-size: 1.25rem;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    & > .container {
        padding: 10rem 0;
        background-color: rgba(34, 34, 34, 0.6);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        & > h1 {
            text-align: center;
            color: #fff;
        }

        & > form {
            padding-top: 1.438rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            & > .primary-button {
                margin: 2.5rem 0;
            }

            .form-group.checkbox {
                color: #fff;
            }
        }
    }
}

@media (max-width: 992px) {
    .contact_us {
        & > .container {
            padding: 4rem 0;
            & > form {
                width: calc(100% - 2.250rem);
                padding: 1rem 1.125rem;
                margin: 0;

                & > .form-group {
                    width: 100%;
                    padding: 1rem 0;
                    display: flex;
                    justify-content: center;

                    & > input[type="text"], & > input[type="password"], & > input[type="tel"] {
                        width: calc(100% - 2rem);

                        &::placeholder {
                            font-size: 1.3rem;
                        }
                    }
                }

                & > .form-group.checkbox {
                    width: 100%;
                }
            }
        }
    }
}