.repair {
    padding: 5rem 7.5rem;

    &.repair-page {
        padding: 15rem 7.5rem 0rem 7.5rem;
    }

    & > h1 {
        max-width: 60rem;
        line-height: 4.236rem;

        & > span {
            display: inline-block;
            width: max-content;

            &:after {
                content: "";
                display: block;
                height: 0.938rem;
                width: 100%;
                background-color: $primary-color;
            }
        }
    }

    & > .content {
        margin-top: 7.5rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

        & > a {
            text-decoration: none;
            color: inherit;
            flex: 1 0 33.3%;

            .single-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 10rem;
                width: 100%;
    
                & > .image {
                    max-width: 21.75rem;
                    max-height: 21.75rem;
    
                    & > img {
                        width: 100%;
                    }
                }
    
                & > p {
                    line-height: 2.269rem;
                    text-align: center;
                    width: 18.75rem;
                    word-break: normal;
                }

                & > span {
                    font-size: 1.2rem;
                    color: $descriptor-color;
                    font-weight: 300;
                    padding-top: 1rem;
                    text-transform: uppercase;
                }
            }
            &.admin {
                display: flex;
                justify-content: center;
                align-items: center;
                
                & > .single-block > .image {
                    width: 5rem;
                    height: 5rem;
                    padding: 3rem;
                }
            }
        } 
    }
}

@media (max-width: 1200px) {
    .repair {
        padding: 5rem 6.25rem;

        &.repair-page {
            padding: 15rem 6.25rem 0 6.25rem;
        }
    }
}

@media (max-width: 992px) {
    .repair {
        padding: 5rem 1.125rem;

        &.repair-page {
            padding: 10rem 1.125rem 0 1.125rem;
        }

        & > h1 {
            line-height: 2.723rem;
        }

        & > .content {
            margin-top: 4rem;
            justify-content: center;

            & > a > .single-block {
                margin-bottom: 4rem;
                flex: 1 0 100%;

                & > span {
                    font-size: 0.8rem;
                }
            }
        }
    }
}