@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$primary-color: #FFEE00;
$text-color: #000;
$descriptor-color: #8A8A8A;

* {
    font-size: 62.5%;
    font: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
}

.primary-button {
    display: block;
    background: $primary-color;
    border-radius: 35px;
    padding: 1.438rem 3.5rem;
    max-width: max-content;
    text-decoration: none;
    font-size: 1.375rem;
    color: inherit;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 992px) {
    body {
        font-size: 1.125rem;
        line-height: 1.361rem;
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.723rem;
    }

    .primary-button {
        font-size: 1.375rem;
    }
}

.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: rgba(0,0,0, .8);
    padding-top: 5rem;
    display: flex;
    justify-content: center;

    display: none;

    & > .modal-container {
        background-color: #fff;
        width: 48rem;
        height: 100vh;

        & > .modal-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
    
            & > .modal-trigger-btn {
                content: url('../img/cross.svg');
                width: 2rem;
                height: 2.75rem;
                color: #000;
            }
        }
    
        & > .modal-body {
            padding: 4.188rem;
            height: 100%;
            overflow: auto;
    
            & > h1 {
                font-size: 1.75rem;
                line-height: 2.118rem;
                margin-bottom: 2.5rem;
                text-align: center;
            }
    
            & > p {
                font-size: 1.375rem;
                font-weight: 300;
                line-height: 1.664rem;
                white-space: pre-wrap;
            }
        }
    }
}

@import "nav";
@import "header-content";
@import "about";
@import "repair";
@import "contact_us";
@import "contacts";
@import "footer";